{{define "graph.html"}}{{with .pdoc}}<!DOCTYPE html>
<html lang="en">
<head>
  {{template "CommonHead"}}
  <title>{{.Name|html}} importers - GoDoc</title>
  <meta name="robots" content="noindex">
  {{template "jQuery"}}
  <script src="{{staticFile "springy.js"}}"></script>
  <script src="{{staticFile "springyui.js"}}"></script>
  <script>
jQuery(function(){
    var nodes = {{$.nodes|json}};
    var edges = {{$.edges|json}};
    var graph = new Graph();
    for (var i = 0; i < nodes.length; i++) {
      nodes[i] = graph.newNode({label:nodes[i].Path});
    }
    for (var i = 0; i < edges.length; i++) {
      edge = edges[i]
      graph.newEdge(nodes[edge[0]], nodes[edge[1]])
    }
    var springy = jQuery('#imports').springy({
        graph: graph,
        nodeSelected: function(node){
          console.log('Node selected: ' + JSON.stringify(node.data));
      }
    });
});
</script>
</head>

<body>
<div class="container spacey">
{{template "SiteNav" ""}}
{{template "ProjectNav" .}}
<canvas id="imports" width="640" height="480" />
</div>

{{template "Tracker"}}
</body>
</html>
{{end}}{{end}}
