{{define "cmd.html"}}<!DOCTYPE html>
{{with .pdoc}}
<html lang="en">
<head>
  {{template "CommonHead"}}
  <title>{{.|commandName}} - GoPkgDoc</title>
  {{if .Synopsis}}<meta name="description" content="{{.ProjectName|html}}: {{.Synopsis|html}}">{{end}}
</head>

<body>

{{template "NavBar" ""}}

<div class="gpd-header">
  <div class="container">
    <h1><a href="{{.ProjectURL|html}}">{{.ProjectName|html}}</a> <small>{{.|breadcrumbs}}</small></h1>
  </div>
</div>

<div class="container spacey">
<h2>Command {{.|commandName}}</h2>
{{if .Errors}}<div class="alert alert-error alert-block">{{range .Errors}}<p><strong>Error:</strong> {{.|html}}{{end}}</div>{{end}}

{{.Doc|comment}}
{{template "PkgCmdFooter" $}}
</div>
</body>
</html>
{{end}}{{end}}
