{{define "CommonHead"}}
<meta charset="utf-8">
<link href="/-/static/css/bootstrap.css?v=b" rel="stylesheet">
{{end}}

{{define "NavBar"}}
<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">GoPkgDoc</a>
      <ul class="nav">
        <li{{if equal . "home"}} class="active"{{end}}><a href="/">Home</a></li>
        <li{{if equal . "index"}} class="active"{{end}}><a href="/-/index">Index</a></li>
        <li{{if equal . "about"}} class="active"{{end}}><a href="/-/about">About</a></li>
      </ul>
    </div>
  </div>
</div>
{{end}}

{{define "PkgCmdFooter"}}{{with .pdoc}}
{{if or $.pkgs $.cmds}}{{if .Name}}<h3 id="_subdirs">Subdirectories</h3>{{end}}
  {{with $.pkgs}}
    <h4>Packages</h4>
    <table class="table table-condensed">
    <thead><tr><th>Path</th><th>Synopsis</th></tr></thead>
    <tbody>{{range .}}<tr><td><a href="/{{.ImportPath|html}}">{{relativePath .ImportPath $.pdoc.ImportPath}}</a><td>{{.Synopsis|html}}</td></tr>{{end}}</tbody>
    </table>
  {{end}}
  {{with $.cmds}}
    <h4>Commands</h4>
    <table class="table table-condensed">
    <thead><tr><th>Path</th><th>Synopsis</th></tr></thead>
    <tbody>{{range .}}<tr><td><a href="/{{.ImportPath|html}}">{{relativePath .ImportPath $.pdoc.ImportPath}}</a><td>{{.Synopsis|html}}</td></tr>{{end}}</tbody>
    </table>
  {{end}}
{{end}}

<div class="gpd-footer">
  <p class="pull-right"><a href="#">Back to top</a></p>
  <form name="refresh" method="POST" action="/-/refresh" class="form-inline">
    <p>GoPkgDoc generated this page from the <a href="{{.ProjectURL|html}}">{{.ProjectName|html}} source code</a> {{.Updated|relativeTime}}. 
    <a href="javascript:document.refresh.submit();" title="Refresh this page from the source">⟲</a>
    <input type="hidden" name="importPath" value="{{.ImportPath|html}}">
  </form>
</div>
{{end}}{{end}}
