{{define "Head"}}<title>GoDoc</title>{{end}}
{{define "Scripts"}}{{end}}

{{define "Body"}}

  <div class="flat-well well-large"> 
    <h2 style="margin-top: 0">Search for Go packages.</h2>
    {{template "SearchBox" ""}}
  </div>

  <h4>What is this?</h4>

  <p>GoDoc generates <a href="http://golang.org/">Go</a> package documentation
  on the fly from packages on Bitbucket, Github, Google Project Hosting and
  Launchpad. Read the <a href="/-/about">About Page</a> for information about
  adding packages to GoDoc and more.

  {{with .Popular}}
  <h4>Popular Packages</h4>
    <ul class="unstyled">
      {{range .}}<li><a href="/{{.Path}}">{{.Path}}</a>{{end}}
    </ul>
  {{end}}

{{end}}
