{{define "ROOT"}}<!DOCTYPE html>
<meta charset="utf-8">
<link href="{{staticFile "css/bootstrap.css"}}" rel="stylesheet">
<link rel="shortcut icon" href="{{staticFile "favicon.ico"}}">
{{template "Head" $}}
<body>
  <div class="container">
    {{template "Body" $}}
  </div>
</body>
{{with gaAccount}}<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{.}}']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>{{end}}
</html>
{{end}}

{{define "section"}}
  <h{{headerLevel .}} id="TOC_{{.FormattedNumber}}">{{.Title}}</h{{headerLevel .}}>
  {{range .Elem}}{{elem .}}{{end}}
{{end}}

{{define "list"}}
  <ul>
  {{range .Bullet}}
    <li>{{style .}}</li>
  {{end}}
  </ul>
{{end}}

{{define "text"}}
  {{if .Pre}}
  <div class="code"><pre>{{range .Lines}}{{.}}{{end}}</pre></div>
  {{else}}
  <p>
    {{range $i, $l := .Lines}}{{if $i}}{{template "newline"}}
    {{end}}{{style $l}}{{end}}
  </p>
  {{end}}
{{end}}

{{define "code"}}
  <div class="code{{if .Play}} playground{{end}}" contenteditable="true" spellcheck="false">{{.Text}}</div>
{{end}}

{{define "image"}}
<div class="image">
  <img src="{{.URL}}"{{with .Height}} height="{{.}}"{{end}}{{with .Width}} width="{{.}}"{{end}}>
</div>
{{end}}

{{define "iframe"}}
<iframe src="{{.URL}}"{{with .Height}} height="{{.}}"{{end}}{{with .Width}} width="{{.}}"{{end}}></iframe>
{{end}}
      
{{define "link"}}<p class="link"><a href="{{.URL}}" target="_blank">{{style .Label}}</a></p>{{end}}

{{define "html"}}HTML not supported{{end}}
