{{define "Head"}}<title>{{.Doc.Title}}</title>{{end}}

{{define "Body"}}{{with .Doc}}

  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

<div id="myCarousel" class="carousel slide" data-interval="">
  <div class="carousel-inner">

    <div class="active item">
       <h1>{{.Title}}</h1>
      {{with .Subtitle}}<h3>{{.}}</h3>{{end}}
      {{if not .Time.IsZero}}<h3>{{.Time.Format "2 January 2006"}}</h3>{{end}}
      {{range .Authors}}
      <div class="presenter">
          {{range .TextElem}}{{elem .}}{{end}}
      </div>{{end}}
    </div>

    {{range $i, $s := .Sections}}
      <div class="item">
        {{if $s.Elem}}
          <h3>{{$s.Title}}</h3>
          {{range $s.Elem}}{{elem .}}{{end}}
        {{else}}
          <h2>{{$s.Title}}</h2>
        {{end}}
        </div>
    {{end}}

    <div class="item">
      <h3>Thank you</h1>
      {{range .Authors}}<div class="presenter">{{range .Elem}}{{elem .}}{{end}}</div>{{end}}
    </div>
 
  </div>
</div>
{{end}}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="{{staticFile "bootstrap.min.js"}}"></script>
{{end}}

{{define "newline"}}
<br>
{{end}}
